/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: black;
}

.test {
    height: 100vh;
    width: 100vw;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.contactInfo {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    height: 480px;
    width: 1100px;

    border-radius: 20px;

    background-color: rgba(17, 17, 17, 0.95);

    gap: 12.5px;

    z-index: 1;
}

.contactInfo h1 {
    text-align: center;

    margin-top: 60px;
    margin-bottom: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: #edf0f1;

    background: transparent;
}

.contactInfo h2 {
    width: 60%;

    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #edf0f1;

    opacity: 50%;

    background: transparent;
}

@keyframes gradient {
    100% {
        background-position: right;
    }
}

.contactInfo span {
    color: transparent;

    background: linear-gradient(90deg, #E4795A, #FFBB41);
    background-size: 200%;
    background-position: left;
    -webkit-background-clip: text;

    animation: gradient 2s ease-in-out alternate infinite;
}

.contactInfo button {
    margin-bottom: 5px;
    
    height: 120px;
    width: 170px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5px;

    border: none;
    border-radius: 20px;
    
    color: #edf0f1;
    background: linear-gradient(90deg, #E4795A, #FFBB41);

    transition: ease 0.5s;

    cursor: pointer;
}

.contactInfo button:active {
    transform: scale(0.9);
}

.contactInfo a {
    color: #edf0f1;

    text-decoration: none;

    background: transparent;
}

.contactInfoInputs {
    display: flex;
    margin-top: 15px;
    flex-direction: column;

    height: 500px;
    width: 800px;

    background-color: transparent;
}

.contactInfoInputsSection1, .contactInfoInputsSection2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-color: transparent;

    gap: 15px;
}

.firstNameComp, .lastNameComp, .businessEmailComp, .companyNameComp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: transparent;
}

.entryAreaContainer {
    width: 450px;
    height: 90px; /* toggles horizontal gap */

    background: transparent;
    
    resize: both;
}

.entryArea {
    position: relative;
    height: 80px;
    line-height: 65px;

    font-family: 'Montserrat', sans-serif;

    background: transparent;
}

.entryAreaInput {
    position: absolute;
    padding: 0 30px;

    width: 100%;

    line-height: 60px;
    outline: none;

    border: 2px solid rgba(237, 240, 241, 0.2);
    border-radius: 10px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;

    background: transparent;

    transition: 0.1s ease;

    z-index: 1111;
}

.entryAreaInput:focus, 
.entryAreaInput:valid {
    color: rgba(237, 240, 241, 0.7);

    font-weight: 600;

    border: 2px solid rgba(237, 240, 241, 0.3);
}

.entryAreaInput:focus + .labelLine, 
.entryAreaInput:valid + .labelLine {
    padding: 0 12px;

    color: #E4795A;
    
    line-height: 30px;
    
    transform: translate(-15px, -16px) scale(0.88);
    
    z-index: 1111;
}

.labelLine {
    position: absolute;
    margin-left: 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgba(237, 240, 241, 0.4);

    background-color: #111111;

    transition: 0.2s ease;
}

.square1, 
.square2, 
.square3, 
.square4 {
    position: relative;
}

/* @keyframes pulse {
    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(3px);
    }
}

.square1 {
    display: flex;
    position: absolute;

    height: 200px;
    width: 200px;

    top: 840px;
    left: 150px;

    border-radius: 15px;

    background-color: #316FF6;

    animation: 5s pulse alternate infinite;
} */