/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: black;
}

.test {
    height: 100vh;
    width: 100vw;
}

/* Navigation Bar */
.navbar {
    display: flex;
    position: fixed;    
    padding: 12px 10%;  
    align-items: center;  
    justify-content: space-between;
    
    width: 100%;
    top: 0;
    
    background: transparent;

    z-index: 1000;

    transition: ease-in-out 0.5s;
}

.navbar a {
    background: transparent;
}

.navbarScrolled {
    padding: 7px 10%;
    
    background-color: rgba(0, 0, 0, 0.925);
    box-shadow: 0px 5px 5cap black;
}

.navLogo {
    height: 19px;

    cursor: none;

    transition: 1.5s ease, transform 0.7s ease;

    overflow: hidden;
}

.navLogo:hover {
    filter: brightness(2.8);
    transform: rotate(180deg);
}

.navLogoScrolled {
    opacity: 0%;
    
    transform: translateY(-100px);

    transition: 
        opacity 0.5s ease, 
        transform 2s ease
    ;

    background: transparent;
}

.navLogo2 {
    display: flex;
    margin: 0 -10px;
    padding: 5px;
    
    height: 35px;

    transition: ease 1s;

    transform: translateY(-100px);

    background: transparent;
}

.navLogo2:hover {
    transform: scale(1.1);
}

.navContainer {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;

    width: 810px;

    list-style: none;
    
    overflow: hidden;

    transition: 3s ease;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
}

.navLinksScrolled {
    opacity: 80%;
    transition: opacity 1s ease;

    background: transparent;
}

.section1, .section2 {
    transition: 2s ease;
}

.section1 li,
.section2 li  {
    display: inline-block;
    padding: 0px 30px;
    
    transition: all 0.3s ease;

    background: transparent;
}

.section1 li a,
.section2 li a  {
    display: inline-block;
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #edf0f1;
    /* color: rgba(237, 240, 241, 0.5); */
    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    transition: all 0.5s ease;

    background: transparent;
}

.section1 li a:hover,
.section2 li a:hover {
    border-radius: 5px;

    font-weight: 600;
    letter-spacing: 3.5px;

    color: transparent;
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-background-clip: text;
}

.section1Scrolled {
    text-align: left;
    
    transform: translateX(-110px);

    background: transparent;
}

.section2Scrolled {
    text-align: right;
    
    transform: translateX(110px);

    background: transparent;
}

.headerButtons {
    display: flex;
    flex-direction: row;
}

.login {
    position: relative;
    
    height: 35px;
    width: 85px;

    border: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;

    color: transparent;
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-background-clip: text;

    text-transform: uppercase;
    letter-spacing: 2px;

    transition: 
        font-weight 0.5s ease, 
        letter-spacing 0.5s ease, 
        opacity 0.5s ease, 
        transform 2s ease
    ;
}

.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 1.5px;
    
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude; 
    pointer-events: none;
}

.login:hover {
    font-weight: 700;
    letter-spacing: 3px;
}

.login:active {
    transform: scale(0.9);
}

.loginScrolled {
    opacity: 0%;

    transform: translateY(-100px);
}

.menu {
    display: none;
}

/* V2 
.navbar {
    display: flex;
    position: fixed;    
    padding: 12px 10%;  
    align-items: center;  
    justify-content: space-between;
    
    width: 100%;
    top: 0;
    
    background: transparent;

    z-index: 1000;

    transition: ease-in-out 0.5s;
}

.navbarScrolled {
    padding: 7px 10%;
    
    background-color: rgba(0, 0, 0, 0.925);
    box-shadow: 0px 5px 5cap black;
}

.navLogo {
    height: 19px;
    max-width: 100vw;

    cursor: none;

    transition: 0.7s ease;

    overflow: hidden;
}

.navLogo:hover {
    transform: rotate(180deg);
}

.navLogoScrolled {
    filter: grayscale(1);
    opacity: 45%;

    transform: rotate(180deg);
}

.navContainer {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;

    list-style: none;
    
    overflow: hidden;

    transition: 3s ease;
}

.navContainerScrolled {
    text-align: right;
    
    transform: translateX(400px);
}

.navLinks li {
    display: inline-block;
    padding: 0px 30px;
    
    transition: all 0.3s ease;
}

.navLinks li a {
    display: inline-block;
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #edf0f1;
    color: rgba(237, 240, 241, 0.5);
    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    transition: all 0.5s ease;
}

.navLinks li a:hover {
    border-radius: 5px;

    font-weight: 600;
    letter-spacing: 3.5px;

    color: transparent;
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-background-clip: text;
}

.navLinksScrolled {
    opacity: 80%;
}

.dot {
    margin-bottom: 4px;
    margin-left: -40px;
    margin-right: -40px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #edf0f1;

    opacity: 0%;
}

.dotScrolled {
    opacity: 100%;
}

.headerButtons {
    display: flex;
    flex-direction: row;
}

.login {
    height: 35px;
    width: 85px;

    border: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;

    color: transparent;
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-background-clip: text;

    text-transform: uppercase;
    letter-spacing: 2px;

    transition: opacity 0.5s ease, transform 1s ease;
}

.login:hover {
    font-weight: 700;
    letter-spacing: 3px;
}

.login:active {
    transform: scale(0.9);
}

.loginScrolled {
    opacity: 0%;

    transform: translateY(-100px);
}

.menu {
    display: none;
} */

/* OLD 
a {
    display: inline-block;
}

li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #edf0f1;
    text-decoration: none;
}

.navBar {
    display: flex;
    position: fixed;    
    padding: 16.5px 10%;    
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    top: 0;
    
    background: transparent;

    z-index: 1000;

    transition: ease-in-out 0.5s;
}

.navBarScrolled {
    padding: 10px 10%;
    
    background-color: rgba(0, 0, 0, 0.925);
    box-shadow: 0px 5px 5cap black;
}

.navLogo {
    cursor: none;
    height: 22.5px;
    max-width: 100vw;
    transition: 0.7s;
}

.navLogo:hover {
    transform: rotate(180deg) scale(1.2);
}

.navLinks {
    list-style: none;
    overflow: hidden;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
    margin-bottom: -7px;
    transition: all 0.3s ease 0s;
}

.navLinks li a {
    color: #edf0f1;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.navLinks li:hover a {
    color: rgba(255, 255, 255, 0.5);
}

.headerButtons {
    display: flex;
    flex-direction: row;
}

.login {
    height: 35px;
    width: 85px;

    border: none;
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    
    color: #edf0f1;
    background: linear-gradient(90deg, #E4795A, #FFBB41);

    transition: ease 0.2s;
}

.login:active {
    transform: scale(0.9);
}

.contactButton {
    position: absolute;

    margin: 0 -110px;

    height: 35px;
    width: 100px;

    border: none;
    border-radius: 10px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #edf0f1;

    background: linear-gradient(45deg, #0D0D0D, #262626);

    transition: ease 0.25s;
}

.contactButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 1.5px;
    
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude; 
    pointer-events: none;
}

.contactButton:active {
    transform: scale(0.9);
}

.menu {
    display: none;
} */