@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Metropolis";
    src: url(fonts/Metropolis-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
}

:root {
    /* Navigation Bar: Height */
    --nav-height: 50px;

    /* Navigation Bar: Text Size */
    --nav-text-size: 0.625rem;

    /* Navigation Bar: Button Border Radius */
    --nav-button-bor-rad: 20px;

    /* Hero Section - Header: Text Size */
    --hero-header-text-size: 3.5rem;

    /* Hero Section - Subheader: Text Size */
    --hero-subheader-text-size: 0.9rem;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

/* Animations */
@keyframes bgTranslation {
    100% {
        background-position: right;
    }
}

/* Page Foundation */
body {
    background-color: #181B1E;

    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;

    height: fit-content;
    width: 100vw;

    /* transition: 0.75s ease; */
}

/* Navigation Bar */
nav {
    display: flex;

    position: sticky;
    top: 1px;

    height: fit-content;
    width: 100%;

    transition: 0.5s ease;

    overflow-x: hidden;

    z-index: 1;
}

.navContents {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 0;

    height: fit-content;
    width: 100%;

    border-radius: 15px;

    transition: 0.5s ease;
}

.navContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.navLogo {
    display: flex;
    align-items: center;

    padding: 7px 0;

    width: 0;

    transition: 0.5s ease;

    cursor: pointer;
}

.navLogo img {
    height: 20px;

    filter: brightness(2);

    transition: 0.5s ease;
}

.navLogo:hover img {
    filter: brightness(1);
}

.navOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 3;

    width: 0;

    gap: 6%;

    transition: 0.5s ease;
}

.navOption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;
}

.navOption h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: var(--nav-text-size);
    color: #DEE2E6;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    transition: 0.5s ease;
}

.navOption:hover h1 {
    opacity: 0.7;
}

.navOption .inSelection {
    position: absolute;
    top: 65%;

    height: 3px;
    width: 3px;

    border-radius: 10px;

    background-color: transparent;

    transition: 0.5s ease;
}

.navOption:hover .inSelection {
    opacity: 0.7;
}

.navButtons {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 0;

    gap: 10px;
}

.navButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: fit-content;
    width: fit-content;
}

.navButton button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 15px;

    width: 50px;

    border: 1px solid #484F56;
    border-radius: var(--nav-button-bor-rad);

    gap: 10px;

    background-color: transparent;

    transition: 0.75s ease;

    cursor: pointer;
}

.navButton button:hover {
    width: 190px;

    border: none;
    
    background-color: #DEE2E6;

    box-shadow: 0 0 25px -10px #DEE2E6;
}

.navButton button:active {
    transform: scale(0.9);
}

.navButton button .buttonText {
    display: flex;
    align-items: center;

    position: absolute;

    width: fit-content;

    opacity: 0;

    transition: 1s ease;

    transform: translateX(-150px);
}

.navButton button .buttonText h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: var(--nav-text-size);
    color: #181B1E;

    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.navButton button:hover .buttonText {
    opacity: 1;

    transform: translateX(-15px);
}

.navButton button i {
    font-size: 20px;
    color: #DEE2E6;

    transition: 0.75s ease;
}

.navButton button:hover i {
    color: #181B1E;

    transform: translateX(68.5px);
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0 40px;
    
    height: 100dvh;
    width: 100;
}

.heroVisual {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

/* Media Queries: Responsiveness */
/* Navigation Bar */
@media (max-width: 1000px) {
    .navLogo {
        padding: 0 30px;
    }

    .navContents {
        padding: 15px 10px;
    }

    .navOptions {
        transform: translateY(-100px);
    }

    .navButton button:hover {
        width: 50px;
    }

    .navButton button .buttonText {
        display: none;
    }

    .navButton button:hover i {
        transform: translateX(0);
    }

    .heroHeader h1,
    .heroHeader h2 {
        font-size: 2rem;
    }

    .heroSubheader p {
        font-size: 0.7rem;
    }

    .inSelection {
        opacity: 0;
    }
}

/* background: linear-gradient(90deg, #B597F6, #96C6EA); */

.test {
    display: flex;
    
    height: 500vh;
    width: 100vw;
}