/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: black;
}

.iconBoxes {
    display: flex;
    position: absolute;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.boxWrapper {
    display: flex;
    align-items: center;

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;

    gap: 80px;
}

@keyframes pulse {
    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(3px);
    }
}

.boxWrapper img {
    height: 115px;
}

.box1, .box2, .box3, .box4 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 200px;
    width: 200px;

    border-radius: 25px;

    background-color: rgba(38, 38, 38, 0.5);
}

.box1 img {
    border-radius: 25px;
    
    background: transparent;

    filter: drop-shadow(0px 10px 20px rgba(24, 119, 242, 0.4));
    
    animation: 5s pulse alternate infinite;
}

.box1 img:hover {
    transform: scale(1.1);
}

.box2 img {
    background: transparent;

    filter: drop-shadow(0px 10px 20px rgba(57, 255, 90, 0.4));

    animation: 5s pulse alternate infinite;
    animation-delay: 1.75s;
}

.box3 img {
    background: transparent;

    filter: drop-shadow(0px 10px 20px rgba(193, 53, 132, 0.9));

    animation: 5s pulse alternate infinite;
    animation-delay: 2s;
}

.box4 img {
    border-radius: 25px;

    background: transparent;
    
    filter: drop-shadow(0px 10px 20px rgba(2, 136, 209, 0.5));

    animation: 6s pulse alternate infinite;
    animation-delay: 2.5s;
}

.iconBoxText {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: fit-content;
    width: fit-content;

    top: 500px;

    gap: 15px;
}

.iconBoxText h1 {
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 400;
    color: #edf0f1;

}

@keyframes fontWeight {
    from {
        font-weight: 200;
    }
    to {
        font-weight: 700;
    }
}

.iconBoxText span {
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    font-weight: 700;
    color: transparent;

    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-background-clip: text;

    animation: fontWeight 3s forwards;
}

.iconBoxText h2 {
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 17.5px;
    font-weight: 300;
    color: #edf0f1;

    background-color: transparent;
}